<template>
    <v-select
        v-model="selectedInfinitifs"
        :items="infinitifsStart"
        label="Sélectionnez vos verbes"
        multiple
        :rules="selectInfinitifsRules"
    >
        <template v-slot:prepend-item>
            <v-list-item
                ripple
                @click="toggle"
            >
                <v-list-item-action>
                    <v-icon :color="selectedInfinitifs.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Sélectionner tous les verbes</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-divider class="mt-2"></v-divider>
        </template>
        <template v-slot:append-item>
            <v-divider class="mb-2"></v-divider>
            <v-list-item disabled>
                <v-list-item-avatar color="grey lighten-3">
                    <v-icon>mdi-emoticon-happy-outline</v-icon>
                </v-list-item-avatar>

                <v-list-item-content v-if="selectAllInfinitifs">
                    <v-list-item-title>Vous avez sélectionné tout les verbes</v-list-item-title>
                </v-list-item-content>

                <v-list-item-content v-else-if="selectSingleInfinitif">
                    <v-list-item-title>Nombre de verbes</v-list-item-title>
                    <v-list-item-subtitle>{{ selectedInfinitifs.length }}</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-content v-else>
                    <v-list-item-title>
                        Vous n'avez pas sélectionner de verbe?
                    </v-list-item-title>
                    <v-list-item-subtitle>
                        Veuillez choisir un ou plusieurs verbes svp.
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </template>
    </v-select>
</template>

<script>
    export default {
        name: "list-infinitifs",
        props: ['infinitifsStart'],
        data () {
            return {
                selectedInfinitifs: [],
                selectInfinitifsRules: [
                    v => v.length > 0,
                ]
            }
        },
        methods: {
            toggle: function(){
                this.$nextTick(() => {
                    if (this.selectAllInfinitifs) {
                        this.selectedInfinitifs = []
                    } else {
                        this.selectedInfinitifs = this.infinitifsStart.slice()
                    }
                })
            },
            resetList: function(){
                this.selectedInfinitifs = [];
            },
            resetList(){
                this.selectedInfinitifs = [];
            }
        },
        watch: {
            selectedInfinitifs(){
                this.$emit('onSelectedInfinitifs', this.selectedInfinitifs)
            },
            deep: true,
        },
        computed: {
            selectAllInfinitifs () {
                return this.selectedInfinitifs.length === this.infinitifsStart.length
            },
            selectSingleInfinitif () {
                return this.selectedInfinitifs.length > 0 && !this.selectAllInfinitifs
            },
            icon () {
                if(this.selectedInfinitifs.length === 0) return 'mdi-emoticon-happy-outline'
                else return 'mdi-emoticon-wink-outline';
                // if (this.selectAllInfinitifs) return 'mdi-close-box'
                // if (this.selectSingleInfinitif) return 'mdi-minus-box'
                // return 'mdi-checkbox-blank-outline'
            },
        },
        mounted() {
        }
    }
</script>

<style scoped>

</style>
