<template>
    <div>
        <h1>Votre Score</h1>
        <v-simple-table>
            <template v-slot:default>
                <thead>
                    <tr>
                        <th class="text-left">Question</th>
                        <th class="text-left">Votre réponse</th>
                        <th class="text-left">Réponse correcte</th>
                    </tr>
                </thead>
                <tbody>
                        <tr v-for="(question, index) in quizForSave" :key="index + '-' + question.position">
                            <td color="'error'">Comment conjuguez-vous le verbe "{{question.label | buildLabelVerb | capitalize}}"
                                {{question.label | buildTempsLabel}} pour le pronom "{{question.label | buildPronomLabel | capitalize}}" ?</td>
                            <td v-bind:class="'text-center ' +  question.userAnswer.isGoodAnswer ?  'green lighten-5' : 'red lighten-5'">
                                {{ question.userAnswer.label | capitalize }}
                            </td>
                            <td class="light-blue lighten-5 text-center">{{ question.userAnswer.goodAnswerLabel | capitalize }}</td>
                        </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td>Score final {{quizFinished.scoreFinal}} / {{nbQuestions}}</td>
                </tr>
                </tfoot>
            </template>
        </v-simple-table>
        <v-btn v-if="!this.quizFinished.quizId" color="primary" @click="restart">Restart</v-btn>
    </div>
</template>

<script>
    export default {
        name: "QuizVerbScore",
        props: ['quizFinished', 'steps', 'nbQuestions', 'isAuth', 'selectedTenses',
            'selectedInfinitifs', 'quizSave'],
        data () {
            return {
                quizForSave: [],
            }
        },

        watch: {
        },

        methods: {
            saveQuiz(){
                const quizId = this.quizFinished.quizId;
                const url = quizId ? '/quiz-verb-teacher-multiple-update/'+quizId : '/quiz-verb-save';

                axios.post(url, {'quizForScore' : this.quizForSave,
                    'selectedTenses': this.selectedTenses,
                    'selectedInfinitifs': this.selectedInfinitifs})
                    .then((response)=>{
                        if(response.data.ok)
                        {

                        }
                    })
            },
            restart(){
                this.$emit('onRestart')
            },
        },
        mounted(){
            let temp = this.quizFinished.slice(0);
            this.quizForSave = temp.reduce((r, e) => (r.push(...e), r), []);
            if(this.quizSave){
                this.saveQuiz();
            }

        },

        filters: {
            buildLabelVerb: function (currentLabel) {
                if (!currentLabel) return ''
                let verbTemp =  currentLabel.split(',')[1];
                const verbLabel = verbTemp.replace(':', '');
                return verbLabel;
            },
            buildTempsLabel: function(currentLabel){
                if (!currentLabel) return ''
                const temp =  currentLabel.split(',')[2]
                let prefix = "";
                if(temp.indexOf('imparfait') === -1){
                    prefix = "au " + temp;
                } else{
                    prefix = "à l'imparfait";
                }
                return prefix;
            },
            buildPronomLabel: function(currentLabel){
                if (!currentLabel) return ''
                return currentLabel.split(',')[0];
            },
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
    }
</script>

<style scoped>

</style>
