<template>
    <div>
            <div v-show="!showStepper && !showScore">
                <v-form ref="form" v-model="valid">
                        <v-row>
                            <v-col cols="12" md="6">
                                <list-infinitifs :infinitifs-start="infinitifsStart" ref="listInfinitifs"
                                                 @onSelectedInfinitifs="onSelectedInfinitifs">
                                </list-infinitifs>
                            </v-col>

                            <v-col cols="12" md="6">
                                <v-col cols="12">
                                    <header>Temps de conjugaison</header>
                                </v-col>
                                    <v-checkbox v-model="selectedTense" label="Indicatif présent" value="present" :rules="rulesTenses" hide-details="true"></v-checkbox>
                                    <v-checkbox v-model="selectedTense" label="Indicatif imparfait" value="imparfait" :rules="rulesTenses" hide-details="true"></v-checkbox>
                                    <v-checkbox v-model="selectedTense" label="Indicatif futur" value="futur" :rules="rulesTenses" hide-details="true"></v-checkbox>
                                    <v-checkbox v-model="selectedTense" label="Indicatif passé simple" value="passe" :rules="rulesTenses" hide-details="true"></v-checkbox>
                                    <v-checkbox v-model="selectedTense" label="Conditionnel présent" value="conditionnel" :rules="rulesTenses" hide-details="true"></v-checkbox>
                            </v-col>

                        </v-row>
                    <v-row>
                        <v-col cols="12" md="4">
                            <v-subheader>Nombre de choix multiples</v-subheader>
                            <v-radio-group v-model="selectedNbChoices" row>
                                <v-radio v-for="n in 3" :key="n" :label="` ${n+1}`" :value="n+1"></v-radio>
                            </v-radio-group>
                        </v-col>


                        <v-col cols="12" md="6">
                            <v-subheader class="pl-0" :min="0" :max="5">Nombre de questions</v-subheader>
                            <v-slider v-model="nbQuestions" class="align-center" :min="minNbQuestions" :max="maxNbQuestions"
                                :step="5"
                                hide-details
                                :thumb-color="'light-green darken-2'"
                                thumb-label="always"
                            >
                                <template v-slot:append>
                                    <v-text-field v-model="nbQuestions" class="mt-0 pt-0" hide-details single-line type="number" style="width: 60px"></v-text-field>
                                </template>
                            </v-slider>
                        </v-col>
                    </v-row>

                    <v-btn :disabled="!valid" color="success" class="mr-4" @click="validateForm">
                            Commencer le Quizz
                    </v-btn>

                </v-form>
            </div>

            <!--Show stepper-->
            <div v-if="showStepper && !showScore">
                <quiz-verb-stepper
                    ref="stepper"
                    :questions="stepperQuestions"
                    :steps="stepperSteps"
                    :nbQuestions="nbQuestions"
                    :nb-choices="selectedNbChoices"
                    @onQuizFinished="onQuizFinished()"
                    @onCancelQuiz="cancelQuiz">
                </quiz-verb-stepper>
            </div>

            <!--- Show Score --->
            <quiz-verb-score v-if="showScore" :quizFinished="quizFinished" :isAuth="isAuth"
                             :steps="stepperSteps" :nbQuestions="nbQuestions" @onRestart="onRestart()"
                             :selectedTenses="selectedTense" :selectedInfinitifs="selectedInfinitifs"
                             :quizSave="true"
            >
            </quiz-verb-score>
    </div>
</template>

<script>
    import ListInfinitifs from "./ListInfinitifs";
    import QuizVerbStepper from "./QuizVerbStepper";
    import QuizVerbScore from "./QuizVerbScore";

    export default {
        components: {
            ListInfinitifs,
            QuizVerbStepper,
            QuizVerbScore,
        },
        data () {
            return {
                infinitifsStartWithIds: [],
                infinitifsStart: [],
                valid: false,
                selectedTense: [],
                selectedInfinitifs: [], //utilisé seulement lorsque le quiz est fini
                selectedNbChoices: 3,
                nbQuestions: 0,
                minNbQuestions: 0,
                maxNbQuestions: 0,
                showStepper: false,
                stepperQuestions: [],
                stepperSteps: 0,
                showScore : false,
                quizFinished: [],
                isAuth: null,
            }
        },
        methods: {
            validateForm () {
                const isValid = this.$refs.form.validate();
                if(isValid)
                {
                    const infinitifsIds = this.buildPostDatas(this.$refs.listInfinitifs.selectedInfinitifs);
                    const datas = {
                        'infinitifsIds': infinitifsIds,
                        'tenses': this.selectedTense,
                        'nbChoices': this.selectedNbChoices,
                        'nbQuestions': this.nbQuestions,
                    }


                    axios.post('/quizzes-create', datas)
                        .then((response)=>{
                            console.log('voici la response', response);
                            if(response.data.ok)
                            {
                                this.stepperQuestions = response.data.quiz.questions
                                this.stepperSteps = this.nbQuestions / 5;
                                this.showStepper = true;
                            }
                        })
                }
            },
            buildPostDatas: function(selectedInfinitifs)
            {
                return selectedInfinitifs.map(singleInfinitif => this.getKeyByValue(this.infinitifsStartWithIds, singleInfinitif));
            },
            getKeyByValue: function(object, value)
            {
                if(value === 'Être'){
                    value = 'être';
                } else if(value === 'Écrire'){
                    value = 'écrire';
                }

                for (let prop in object)
                {
                    if (object.hasOwnProperty(prop)) {
                        if (object[prop] === value)
                            return prop;
                    }
                }
            },
            onSelectedInfinitifs: function(selectedInfinitifs)
            {
                this.selectedInfinitifs = selectedInfinitifs;
                this.calculNbQuestions();
            },

            //calcule ce que doit afficher par default le slider
            calculNbQuestions: function()
            {
                const nbSelectedInfinitifs = this.$refs.listInfinitifs.selectedInfinitifs.length;
                const allNeededSelected = nbSelectedInfinitifs > 0 && this.selectedTense.length > 0;
                this.nbQuestions = allNeededSelected ? 5 : 0;
                this.minNbQuestions = allNeededSelected ? 5 : 0;
                this.maxNbQuestions = allNeededSelected ? nbSelectedInfinitifs * this.selectedTense.length * 5 : 0;
                this.maxNbQuestions = this.maxNbQuestions > 50 ? 50 : this.maxNbQuestions;
            },
            cancelQuiz: function()
            {
                this.stepperQuestions = [];
                this.nbQuestions = 5;
                this.nbChoices = 3;
                this.selectedTense = [];
                this.selectedInfinitifs = [];
                this.showStepper = false;
                this.$refs.listInfinitifs.resetList();
            },
            onQuizFinished(){
                this.quizFinished = this.$refs.stepper.questions;
                this.showScore = true;
            },
            onRestart(){
                    this.valid = false,
                    this.selectedTense = [],
                    this.selectedNbChoices = 3,
                    this.nbQuestions = 0,
                    this.minNbQuestions = 0,
                    this.maxNbQuestions = 0,
                    this.showStepper = false,
                    this.stepperQuestions = [],
                    this.stepperSteps = 0,
                    this.showScore = false,
                    this.quizFinished = [],
                    this.isAuth = null;
                    this.$refs.listInfinitifs.resetList();
            },


    },
        watch: {
            selectedTense(){
                this.calculNbQuestions();
            },

        },
        computed: {
            rulesTenses() {
                return [
                    this.selectedTense.length > 0 || "Choisissez au moins un temps svp",
                ];
            },
        },
        mounted() {
            const divStart = document.querySelector('#start');
            this.infinitifsStartWithIds = JSON.parse(divStart.dataset.infinitifs)
            this.infinitifsStart = Object.values(JSON.parse(divStart.dataset.infinitifs));

            //traitement pour trier les verbes par ordre croissants
            this.infinitifsStart = this.infinitifsStart.sort();
            this.infinitifsStart = this.infinitifsStart.filter(inf => inf != "écrire" && inf != "être");
            const indexOfEcrire = this.infinitifsStart.indexOf("Décevoir") + 1;
            this.infinitifsStart.splice(indexOfEcrire, 0, 'Écrire');
            const indexOfEtre = this.infinitifsStart.indexOf("Envoyer") + 1;
            this.infinitifsStart.splice(indexOfEtre, 0, 'Être');

//ss
            this.isAuth = divStart.dataset.isAuth.length > 0;
        }
    }
</script>

<style scoped>

</style>
