<template>
    <div>
        <v-stepper v-model="e1">
            <v-stepper-header>
                <template v-for="n in steps">
                    <v-stepper-step :key="`${n}-step`" :complete="e1 > n" :step="n" editable>
                        Step {{ n }}
                    </v-stepper-step>

                    <v-divider v-if="n !== steps" :key="n"></v-divider>
                </template>
            </v-stepper-header>

            <v-stepper-items>
                <v-stepper-content v-for="n in steps" :key="`${n}-content`" :step="n">
                    <v-card v-for="q in 5" class="mb-12" :key="`${n}-${q}-card`">
                        <v-col cols="12">
                            <header>Comment conjuguez-vous le verbe {{questions[n-1][q-1].label | buildLabelVerb | capitalize}}
                                {{questions[n-1][q-1].label | buildTempsLabel}} pour le pronom "{{questions[n-1][q-1].label | buildPronomLabel | capitalize}}"</header>
                            <v-checkbox
                                v-for="(item, index) in questions[n-1][q-1].choices"
                                v-model="questionsModel[n-1][q-1]"
                                :label="questions[n-1][q-1].choices[index].label"
                                :value="questions[n-1][q-1].choices[index].label"
                                :key="`${n}-${q}`+questions[n-1][q-1].choices[index].position"
                                :color="colors[n-1][q-1]"
                                :readonly="readonly[n-1][q-1]"
                                @change="correction($event, item, questions[n-1][q-1], (n-1), (q-1))"
                            >
                            </v-checkbox>
                        </v-col>
                    </v-card>

                    <v-btn v-if="n < steps" color="primary" @click="nextStep(n)">Continue</v-btn>
                    <v-btn v-if="n === steps && nbAnswered === nbQuestions" color="primary" @click="showScore()">Terminer</v-btn>
<!--                    <v-btn text @click="cancelQuiz">Annuler</v-btn>-->
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
    </div>

</template>
# of steps
5

<script>

    export default {
        components: {
        },
        name: "QuizVerbStepper",
        props: ['questions', 'steps', 'nbQuestions', 'nbChoices'],
        data () {
            return {
                e1: 1,
                iter: 0,
                verbLabel: '',
                clickedChoice: null,
                colors: [],
                questionsModel: [],
                readonly: [],
                scoreFinal: 0,
                nbAnswered: 0
            }
        },

        watch: {
            steps (val) {
                if (this.e1 > val) {
                    this.e1 = val
                }
            },
            questions(val){
                console.log('je usis dans enfant que questions ? ', this.questions);
            }
        },

        methods: {
            nextStep (n) {
                if (n === this.steps) {
                    this.e1 = 1
                } else {
                    this.e1 = n + 1
                }

                this.labels = ["ee", "rr", "tt", "yy"];
            },
            setArrayLineReadonly(i){
                for(let k=0; k < this.readonly[i].length; ++k)
                {
                    this.readonly[i][k] = true;
                    console.log('que vaut i-k', this.readonly[i][k]);

                }
            },
            showScore(){
                this.questions.scoreFinal = this.scoreFinal;
                this.$emit('onQuizFinished', this.questions);
            },

            correction(event, item, currentQuestion, i, j){
                this.colors[i][j] = item.isGoodAnswer ? 'success' : 'error';
                if(item.isGoodAnswer) this.scoreFinal++;
                this.readonly[i][j] = true;
                const questionPosition = currentQuestion.position;
                const goodAnswerLabel = this.getGoodAnswerLabel(currentQuestion);
                const answer = this.buildAnswerObject(item, questionPosition, item.isGoodAnswer, item.label, goodAnswerLabel);
                this.questions[i][j].userAnswer = answer;
                this.nbAnswered++;
            },
            findDiviser(nbQuestions){
                switch(nbQuestions){
                    case 5: return 1;
                    case 10: return 2;
                    case 15: return 3;
                    case 20: return 4;
                    case 25: return 5;
                    case 30: return 6;
                    case 35: return 7;
                    case 40: return 8;
                    case 45: return 9;
                    case 50: return 10;
                }
            },
            buildAnswerObject(item, questionPosition, isGoodAnswer, label, goodAnswerLabel){
                const answer =
                    {
                        'questionPosition': questionPosition,
                        'choicePosition': item.position,
                        'isGoodAnswer': item.isGoodAnswer,
                        'label': label,
                        'goodAnswerLabel': goodAnswerLabel
                    }
                return answer;
            },
            getGoodAnswerLabel(question){
                for(let i=0; i < question.choices.length; ++i){
                    if(question.choices[i].isGoodAnswer){
                        return question.choices[i].label;
                    }
                }
            },

        },
        created() {
            const diviser = this.findDiviser(this.nbQuestions);
            this.questionsModel = Array.from(Array(this.nbQuestions/5), () => Array(this.nbQuestions/diviser).fill(false))
            this.colors = Array.from(Array(this.nbQuestions/5), () => Array(this.nbQuestions/diviser).fill('primary'));
            this.readonly = Array.from(Array(this.nbQuestions/5), () => Array(this.nbQuestions/diviser, ).fill(false) );

        },
        filters: {
            buildLabelVerb: function (currentLabel) {
                if (!currentLabel) return ''
                let verbTemp =  currentLabel.split(',')[1];
                const verbLabel = verbTemp.replace(':', '');
                return verbLabel
            },
            buildTempsLabel: function(currentLabel){
                if (!currentLabel) return ''
                const temp =  currentLabel.split(',')[2]
                let prefix = "";
                if(temp.indexOf('imparfait') === -1){
                    prefix = "au " + temp;
                } else{
                    prefix = "à l'imparfait";
                }
                return prefix;
            },
            buildPronomLabel: function(currentLabel){
                if (!currentLabel) return ''
                return currentLabel.split(',')[0];
            },
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
    }
</script>

<style scoped>

</style>
