<template>
    <div>
        <div v-if="statsWrongByTenses === false || statsWrongByVerb === false || statsWrongByPronoun === false">
            <v-card flat>
                <v-row justify="space-around">
                    <v-col md="12">
                        <v-card-title class="justify-center">
                            Vous n'avez pas encore de Quiz faiblesse
                        </v-card-title>
                    </v-col>
                </v-row>
            </v-card>
        </div>
        <div v-else>
            <!--Show stepper-->
                <quiz-verb-stepper v-if="showStepper && !showScore"
                    ref="stepper"
                   :questions="stepperQuestions"
                   :steps="stepperSteps"
                   :nbQuestions="10"
                   :nb-choices="4"
                   @onQuizFinished="onQuizFinished()"
                   @onCancelQuiz="cancelQuiz"
                >
                </quiz-verb-stepper>

            <!--- Show Score --->
            <quiz-verb-score v-if="showScore" :quizFinished="quizFinished" :isAuth="true"
                             :steps="stepperSteps" :nbQuestions="10" @onRestart="onRestart()"
                             :quizSave="false"
            >
            </quiz-verb-score>
        </div>
    </div>
</template>

<script>
    import ListInfinitifs from "./ListInfinitifs";
    import QuizVerbStepper from "./QuizVerbStepper";
    import QuizVerbScore from "./QuizVerbScore";

    export default {
        components: {
            ListInfinitifs,
            QuizVerbStepper,
            QuizVerbScore,
        },
        props: ['quizFaiblesses', 'statsWrongByTenses', 'statsWrongByVerb', 'statsWrongByPronoun'],
        data () {
            return {
                infinitifsStartWithIds: [],
                nbQuestions: 0,
                stepperQuestions: [],
                stepperSteps: 0,
                showStepper: false,
                showScore : false,
                quizFinished: [],
            }
        },
        methods: {
            cancelQuiz: function()
            {

            },
            onQuizFinished(){
                this.quizFinished = this.$refs.stepper.questions;
                this.showScore = true;
            },
        },
        mounted() {

            this.stepperQuestions = this.quizFaiblesses.questions;
            this.nbQuestions = 10;
            this.stepperSteps = this.nbQuestions / 5;
            this.showStepper = true;
        }
    }
</script>

<style scoped>

</style>
