<template>
<div>
    <v-card>
        <v-row justify="space-around">
            <v-col md="12">
            <v-tabs v-model="tab" grow icons-and-text>
                <v-tab href="#tab-1">Leçon<v-icon>mdi-teach</v-icon></v-tab>
                <v-tab href="#tab-2">Quiz<v-icon>mdi-help-circle</v-icon></v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
                <v-tab-item :value="'tab-1'">
                    <v-card flat>
                        <post-content
                            :title="postTitle" :content="postContent"
                            :image="postImage" :updated-at="postUpdatedAt">
                        </post-content>
                    </v-card>
                </v-tab-item>
                <v-tab-item :value="'tab-2'">
                    <v-card flat>
                        <!-- Affichage du quizz -->
                        <PostQuizz v-if="!isAlreadyAnswered"
                            :questions-choices-multiples="questionsChoicesMultiples"
                            :questions-open="questionsOpen" :post-id="postId"
                                   @interroIsSaved="interroFinished()">
                        </PostQuizz>

                        <!-- Affichage des résultats -->
                        <v-col md="12" v-if="isAlreadyAnswered">
                            <v-card flat>
                                <div v-if="questionsOpen.length > 0">
                                    <v-card-title class="py-6">
                                        Vos réponses aux questions ouvertes
                                    </v-card-title>

                                    <v-card flat v-for="(q, index) in questionsOpen" :key="q.id">
                                        <v-form>
                                            <v-spacer></v-spacer>
                                            <v-card color="basil" flat><v-card-subtitle>Question ouverte n° {{index+1}}</v-card-subtitle></v-card>
                                            <v-card flat><v-card-text>{{q.label}}</v-card-text></v-card>
                                            <v-spacer></v-spacer>
                                            <v-card class="votre_reponse" flat><v-card-subtitle>Votre réponse :</v-card-subtitle></v-card>
                                            <v-card flat><v-card-text>{{q.answer.text}}</v-card-text></v-card>
                                            <v-spacer></v-spacer>
                                            <v-card class="reponse_prof" flat>
                                                <v-card-subtitle>Correction de votre professeur :</v-card-subtitle>
                                            </v-card>
                                            <v-card flat>
                                                <v-card-text v-if="q.answer.correction">{{q.answer.correction}}</v-card-text>
                                                <v-card-text v-else>Pas encore corrigé</v-card-text>
                                            </v-card>
                                        </v-form>
                                        <v-divider></v-divider>
                                    </v-card>
                                </div>
                                <div v-if="questionsChoicesMultiples.length > 0">
                                <v-card-title class="py-6">
                                    Vos réponses aux questions choix multiples
                                </v-card-title>
                                <post-quiz-questions-multiples :questions-multiples="questionsChoicesMultiples"></post-quiz-questions-multiples>
                                </div>
                            </v-card>
                        </v-col>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
            </v-col>
            <v-col md="12">
                <v-card-actions>
                    <v-col md="12" class="text-right">
                    <v-btn v-if="showBtnRetour" color="primary"  @click="goBack($event)">Retour</v-btn>
                    </v-col>
                </v-card-actions>
            </v-col>
        </v-row>
        </v-card>
</div>
</template>

<script>
    export default {
        props: ['post'],
        data () {
            return {
                tab: null,
                postTitle: this.post.name,
                postContent: this.post.content,
                postImage: this.post.image,
                postUpdatedAt: this.post.updated_at,
                questionsChoicesMultiples: JSON.parse(this.post.questions_choices_multiples),
                questionsOpen: JSON.parse(this.post.questions_open),
                postId: this.post.id,
                isAlreadyAnswered: false,
                showBtnRetour: false,

            }
        },
        methods: {
            checkIfAlreadyAnswered () {
                axios.post('/lesson-is-already-answered', {'postId' : this.post.id})
                    .then((response)=>{
                        console.log('voici la responseeee', response);
                        if(response.data.ok)
                        {
                            this.isAlreadyAnswered = response.data.isAlreadyAnswered;
                            if(this.isAlreadyAnswered){

                                console.log('que vaut userQuestionsAndAnswers', response.data.userQuestionsAndAnswers);
                                this.questionsOpen = response.data.userQuestionsAndAnswers.questions_open;
                                this.questionsChoicesMultiples = response.data.userQuestionsAndAnswers.questions_multiples;
                            }
                        }
                    })
            },
            goBack(){
                this.$emit('back')
            },
            interroFinished(){
                this.showBtnRetour = true;
            }
        },
        created() {
            console.log('que vaut post ?', this.post);
        },
        mounted(){
            this.checkIfAlreadyAnswered();
        }
    }
</script>

<style scoped>
    /* Helper classes */
    .basil {
        background-color: #FFFBE6 !important;
    }
    .votre_reponse{
        background-color: #AAE6FF !important;
    }

    .reponse_prof{
        background-color: #FFC9CE !important;
    }
    .basil--text {
        color: #356859 !important;
    }
</style>
