<template>
<div>
        <v-row justify="space-around">
            <v-col md="12">
            <v-form ref="form">
                <v-card v-for="(q, index) in questionsChoicesMultiples" class="mb-12" :key="`${q.key}-question`">
                    <v-col cols="12">
                        <header>{{q.attributes.question_label}}</header>

                        <v-radio-group v-model="modelQuizMultiple[index]" :rules="modelQuizMultipleRules" :disabled="isSent">
                            <v-radio :label="q.attributes['choix1']" :value="q.attributes['choix1']"></v-radio>
                            <v-radio :label="q.attributes['choix2']" :value="q.attributes['choix2']"></v-radio>
                            <v-radio :label="q.attributes['choix3']" :value="q.attributes['choix3']"></v-radio>
                            <v-radio :label="q.attributes['choix4']" :value="q.attributes['choix4']"></v-radio>
                            <v-radio :label="q.attributes['choix5']" :value="q.attributes['choix5']"></v-radio>
                        </v-radio-group>
                    </v-col>
                </v-card>

                <v-card flat v-for="(q, index) in questionsOpen" class="mb-12" :key="`${q.key}-question`">
                    <v-col cols="12">
                        <header>{{q.attributes.question_label}}</header>
                        <v-textarea
                            v-model="modelQuizOpen[index]"
                            clear-icon="Effacer"
                            label="Votre réponse"
                            value="This is clearable text."
                            :rules="modelQuizOpenRules"
                            :disabled="isSent"
                        ></v-textarea>
                    </v-col>
                </v-card>
                <v-col md="12">
                    <v-card-actions>
                        <v-col md="12" class="text-right">
                            <v-btn v-if="showBtnEnvoyer" color="primary"  @click="submit($event)">Envoyer</v-btn>
                        </v-col>
                    </v-card-actions>
                </v-col>            </v-form>
            </v-col>
        </v-row>
</div>
</template>

<script>

    export default {

        props: ['postId', 'questionsChoicesMultiples', 'questionsOpen'],
        data () {
            return {
                modelQuizMultiple: [],
                modelQuizMultipleRules: [
                    v => !!v || 'La réponse est requise',
                ],

                modelQuizOpen: [],
                showErrorQuizOpen: [],
                modelQuizOpenRules: [
                    v => !!v || 'La réponse est requise',
                ],
                valid: false,
                isSent: false,
                showBtnEnvoyer: true,
            }
        },
        methods: {
            submit(event){
                const isValid = this.$refs.form.validate();

                let userAnswers = {
                    postId: this.postId,
                    quizMultipleAnswers : [],
                    quizOpenAnswers: [],
                };
                userAnswers = this.buildAnswersQuizMultiple(userAnswers);
                userAnswers = this.buildAnswersQuizOpen(userAnswers);


                axios.post('/lesson-quiz-save', userAnswers)
                    .then((response)=>{
                        console.log('voici la response', response);
                        if(response.data.ok)
                        {
                            this.$emit('interroIsSaved')
                            this.isSent = true;
                            this.showBtnEnvoyer = false;
                        }
                    })
            },
            buildAnswersQuizMultiple(userAnswers){
                for(let i=0; i<this.modelQuizMultiple.length; ++i){
                    const currentQuestion = this.questionsChoicesMultiples[i].attributes;
                    for(let prop in currentQuestion){
                        if(currentQuestion[prop] === this.modelQuizMultiple[i]){
                            let currentAnswerRadio = { //on va sauvegarder cette réponse
                                'question_label' : currentQuestion['question_label'],
                                'userChoice' : this.modelQuizMultiple[i],
                                'goodAnswer' : currentQuestion['choix1'],
                                'isCorrect' : this.modelQuizMultiple[i] === currentQuestion['choix1'],
                                'key': this.questionsChoicesMultiples[i].key
                            }
                            userAnswers['quizMultipleAnswers'].push(currentAnswerRadio);
                        }
                    }
                }
                return userAnswers;
            },
            buildAnswersQuizOpen(userAnswers){
                for(let i=0; i<this.questionsOpen.length; ++i){
                    const currentQuestion = this.questionsOpen[i].attributes;
                    let currentAnswerOpen = { //on va sauvegarder cette réponse
                        'question_label' : currentQuestion['question_label'],
                        'userChoice' : this.modelQuizOpen[i],
                        'key': this.questionsChoicesMultiples[i].key
                    }
                    userAnswers['quizOpenAnswers'].push(currentAnswerOpen);
                }
                return userAnswers;
            },
            onEditorChange({ quill, html, text }, index) {
                console.log('editor change!', quill, html, text)
                if(text.length > 0){
                    this.showErrorQuizOpen[index] = false
                }
            },
        },
        created() {
            console.log('tttt', this.questionsOpen);
            this.modelQuizMultiple =  Array.from(Array(this.questionsChoicesMultiples.length).fill(''));

            this.modelQuizOpen = Array.from(Array(this.questionsChoicesMultiples.length).fill(''));
            this.showErrorQuizOpen = Array.from(Array(this.questionsChoicesMultiples.length).fill(false));
        }
    }
</script>

<style scoped>

</style>
