<template>
    <div>
        <v-card v-for="(q, index) in questionsOpen" :key="q.id">
            <v-form v-model="valid">
                <v-card-title>Question n° {{index+1}}. {{q.label}}</v-card-title>
                <v-spacer></v-spacer>
                <v-card-subtitle>Réponse de {{userName}} : </v-card-subtitle>
                <v-card color="basil" flat><v-card-text>{{q.answer.text}}</v-card-text></v-card>
                <v-spacer></v-spacer>
                <v-card-text>
                    <v-textarea v-model="corrections[index]" auto-grow  outlined color="deep-purple" label="Votre correction"
                                clearable :rules="txtAreaRules">
                    </v-textarea>
                    <v-btn @click="envoyer(index, q.answer.id)">Envoyer</v-btn>
                </v-card-text>
                <v-alert ref="alert" v-if="showAlertSuccess[index]" dense text type="success"
                         dismissible>
                    Correction enregistrée
                </v-alert>
            </v-form>
        </v-card>
    </div>
</template>

<script>
    export default {
        props: ['questionsOpen'],
        data () {
            return {
                question: [],
                corrections: [],
                valid: false,
                txtAreaRules: [ v => !!v || 'La correction est requise' ],
                showAlertSuccess: [],
                userName: ''
            }
        },
        watch:{
            questionsOpen(){
                this.corrections = this.questionsOpen.map((q) => q.answer.correction);
                this.userName = this.questionsOpen.user_name;
            },

        },
        methods:{
            envoyer(index, answerId){
                    if(this.valid) {
                    const datas = {
                        'answerId': answerId,
                        'correction': this.corrections[index],
                        'userId': this.questionsOpen.userId,
                        'postId': this.questionsOpen.postId,
                    }
                    axios.post('/store-teacher-correction', datas)
                        .then((response) => {
                            console.log('voici la response', response);
                            if (response.data.ok) {
                                this.$set(this.showAlertSuccess, index, true);
                                var tempIndex = index;
                                setTimeout(()=>{
                                    this.$set(this.showAlertSuccess, tempIndex, false);
                                },3000)
                                console.log('que vaut response ?', response);
                            }
                        })
                }
            }
        },
        mounted() {

            this.userName = this.questionsOpen.user_name;
            this.corrections = this.questionsOpen.map((q) => q.answer.correction);
            this.showAlertSuccess = Array.from(new Array(this.corrections.length)).fill(false);
            console.log('que vaut this.questionsOpen', this.questionsOpen);
            console.log('que vaut this.correections', this.corrections);
        },
        destroyed() {
            alert('detruit')
        }
    }
</script>

<style scoped>
    /* Helper classes */
    .basil {
        background-color: #FFFBE6 !important;
    }
    .basil--text {
        color: #356859 !important;
    }
</style>
