<template>
<div>
    <v-card v-for="(q, index) in questionsMultiples" :key="q.id">
        <v-card-title>Question multiple n° {{index+1}} : {{q.label}}</v-card-title>
        <v-card-subtitle>Réponse choisie par l'étudiant : {{q.answer.userAnswerLabel}}</v-card-subtitle>
        <v-spacer></v-spacer>
        <v-alert ref="alert" dense text prominent
                 :type="q.answer.userAnswerLabel === q.answer.goodAnswerLabel ? 'success' : 'error'">
            <v-row align="center">
                <v-col class="grow">
                    {{q.answer.userAnswerLabel === q.answer.goodAnswerLabel ? 'Réponse correcte' : 'Réponse eronnée'}}
                </v-col>
                <v-col class="shrink">
                    <v-tooltip left>
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark v-on="on">Solution</v-btn>
                        </template>
                        <span>{{q.answer.goodAnswerLabel}}</span>
                    </v-tooltip>
                </v-col>
            </v-row>
        </v-alert>
    </v-card>
</div>
</template>

<script>
    export default {
        props: ['questionsMultiples'],
        data () {
            return {
                userName: '',
            }
        },
        methods:{
            displayStudentQuiz(item){

            }
        },
        mounted() {
            console.log('que vaut questions multiples ?', this.questionsMultiples);
            this.userName = this.questionsMultiples.user_name;
        }
    }
</script>

<style scoped>

</style>
