<template>
<div>
        <v-row justify="center" align="center">
            <v-col md="12">
                <v-card-title class="justify-center">
                    {{title}}
                </v-card-title>
                <v-card-subtitle align="center">{{updatedAt | formatDate}}</v-card-subtitle>
            </v-col>

            <v-col md="12">
                <v-img  class="white--text align-end" max-height="300px" :src="'/storage/' + image" aspect-ratio="1.1"></v-img>
            </v-col>
            <v-col md="12">
                <v-card-text v-html="content"></v-card-text>
            </v-col>
        </v-row>
</div>
</template>

<script>
    export default {
        props: ['title', 'content', 'image', 'updatedAt'],
        data () {
            return {
            }
        },
        methods: {
            aaa () {

            },
        },
        created() {
            console.log('que vaut content ?', this.postUpdatedAt);
        },
        filters: {
            formatDate: function (d) {
                moment.locale('fr');
                let date =  moment(String(d)).calendar();
                return date.charAt(0).toUpperCase() + date.slice(1);
            },
        },
    }
</script>

<style scoped>

</style>
