<template>
<div>
    <v-card-title><div v-html="lesson.name"></div></v-card-title>
    <v-card-text>
        <div v-html="lesson.content"></div>
    </v-card-text>
</div>
</template>

<script>
    export default {
        props: ['lesson'],
        data () {
            return {
            }
        },
        methods:{
            aaa()
            {

            }
        },
        mounted() {
        },
        created(){

        }
    }
</script>
