<template>
    <div>
        <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
            <v-list dense>
                <template v-for="item in items">
                    <v-row v-if="item.heading" :key="item.heading" align="center">
                        <v-col cols="6">
                            <v-subheader v-if="item.heading">
                                {{ item.heading }}
                            </v-subheader>
                        </v-col>
                        <v-col cols="6" class="text-center">
                            <a href="#!" class="body-2 black--text">EDIT</a>
                        </v-col>
                    </v-row>
                    <v-list-group v-else-if="item.children" :key="item.text" v-model="item.model"
                                   :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">
                        <template v-slot:activator>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ item.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </template>
                        <v-list-item v-for="(child, i) in item.children" :key="i" link @click="displayView(child)">
                            <v-list-item-action v-if="child.icon">
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{ child.text }}
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-group>
                    <v-list-item v-else :key="item.text" link @click="displayView(item)">
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
            <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
                <span class="hidden-sm-and-down">French Drills</span>
            </v-toolbar-title>
            <v-autocomplete
                v-model="select"
                :loading="loading"
                :items="infinitifsForVerbs"
                :search-input.sync="search"
                cache-items
                class="mx-4"
                flat
                hide-no-data
                hide-details
                label="Chercher verbe"
                solo-inverted
            ></v-autocomplete>
<!--            <v-text-field flat solo-inverted hide-details prepend-inner-icon="mdi-magnify"-->
<!--                          label="Chercher" class="hidden-sm-and-down" />-->
            <v-spacer />
            <v-menu
                left
                bottom
            >
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>

                <v-list>
                    <v-list-item @click="logout">
                        <v-list-item-title>Se déconnecter</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>
        <v-content>
            <v-container class="fill-height" fluid>
                <v-row align="center" justify="center">
                    <v-col cols="12">
                        <profile--student
                            v-if="this.role=='student' && showProfileStudent"
                              :user-quizzes="this.userQuizzes"
                              ref="profileStudent"
                              :posts="this.posts"
                              :stats-wrong-per-verb="this.statsWrongPerVerb"
                              :stats-wrong-per-tense="this.statsWrongPerTense"
                              :stats-wrong-per-pronoun="this.statsWrongPerPronoun"
                              :showHistory="showHistory"
                              :showStatistics="showStatistics"
                              :showLessons="showLessons"
                              :showTraining="showTraining"
                              :showQuizFree="showQuizFree"
                              :quizFaiblesses="quizFaiblesses"
                              :showTableConjugation="showTableConjugation"
                              :tableConjugationDatas="tableConjugationDatas"
                        >
                        </profile--student>
                    </v-col>
                    <v-col cols="12">
                        <profile-teacher
                            ref="profileTeacher"
                            v-if="this.role=='teacher' && showProfileTeacher"
                            :posts="this.posts"
                            :tree-view-datas="this.treeViewDatas"
                            :showTableConjugation="showTableConjugation"
                            :tableConjugationDatas="tableConjugationDatas"
                        >
                        </profile-teacher>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </div>
</template>

<script>
    export default {
        props: ['role', 'userQuizzes', 'posts', 'statsWrongPerVerb', 'statsWrongPerTense',
            'statsWrongPerPronoun', 'treeViewDatas', 'quizFaiblesses'],
        data: () => ({
            dialog: false,
            drawer: null,
            items: [],
            itemsStudent: [
                {icon: 'mdi-teach', text: 'Leçons'},
                {
                    icon: 'mdi-chevron-down',
                    'icon-alt': 'mdi-chevron-down',
                    text: 'Entraînement libre',
                    model: true,
                    children: [
                        {text: 'Quiz libre'},
                        {text: 'Historique'},
                        {text: 'Statistiques'},
                        {text: 'Quiz faiblesse'},
                    ],
                },
                // {icon: 'mdi-arm-flex-outline', text: 'Entraînements'},
            ],
            itemsTeacher: [
                {icon: 'mdi-teach', text: 'Leçons'},
            ],
            showProfileStudent: false,
            showProfileTeacher: false,
            currentView: '',
            showHistory: true,
            showStatistics: false,
            showLessons: false,
            showTraining: false,
            showQuizFree: false,
            showTableConjugation: false,


            //chercher verbe module
            loading: false,
            itemsVerbe: [],
            search: null,
            select: null,
            infinitifsForVerbs : [],
            infinitifsStartWithIds: null,
            tableConjugationDatas: null,


        }),
        methods: {
            logout:function(){
                axios.post('logout').then(response => {
                    if (response.status === 302 || 401) {
                        window.location.href = "http://127.0.0.1:8000/login";

                    }
                    else {
                        // throw error and go to catch block
                    }
                }).catch(error => {

                });
            },
            displayView(item){
                this.currentView = item.text;
                this.setShow();
                // this.showProfileStudent = this.itemsStudent.some(v => v.text === this.currentView);
                // this.showProfileTeacher = this.itemsTeacher.some(v => v.text === this.currentView);

            },
            resetAllChildrenComponents(){
                this.showTableConjugation = false;
                if(this.role === 'student'){
                    this.showHistory = false;
                    this.showStatistics = false;
                    this.showLessons = false;
                    this.showTraining = false;
                    this.showQuizFree = false;
                }
            },
            setShow(){
                this.resetAllChildrenComponents();

                switch(this.currentView){
                    case 'Historique':
                        this.showHistory = true;
                        break;
                    case 'Statistiques':
                        this.showStatistics = true;
                        break;
                    case 'Leçons':
                        this.showLessons = true;
                        break;
                    case 'Quiz faiblesse':
                        this.showTraining = true;
                        break;
                    case 'Quiz libre':
                        this.showQuizFree = true;
                        break;
                }
            },

            querySelections (v) {
                this.loading = true
                // Simulated ajax query
                setTimeout(() => {
                    this.itemsVerbe = this.infinitifsForVerbs.filter(e => {
                        return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
                    })
                    this.loading = false
                }, 500)
            },
        },
        watch: {
            search (val) {
                val && val !== this.select && this.querySelections(val)
            },
            select(val){
                console.log('que vaut val dans watch de seelect ?', val);
                this.resetAllChildrenComponents();

                const infList = this.infinitifsStartWithIds;
                    const verbId = Object.keys(infList).find(k=>infList[k]===val);
                    //todo ici envoyer l'id du verbe à un controlleur
                    //qui va se charger d'aller chercher en bdd tt les conjugaison
                const data = {
                    'verbId' : verbId,
                    'verbInf': val
                }
                axios.post('/table-conjugation', data)
                    .then((response)=>{
                        if(response.data.ok)
                        {
                            this.resetAllChildrenComponents();
                            this.tableConjugationDatas = response.data.tableDatas
                            this.showTableConjugation = true;

                            console.log('iciiiiii', this.tableConjugationDatas);
                        }
                    })

            }
        },

        mounted() {
            if(this.role === 'student')
            {
                this.items = this.itemsStudent;
                this.showProfileStudent = true;
            } else if(this.role === 'teacher'){
                this.items = this.itemsTeacher;
                this.showProfileTeacher = true;
            }

            const divStart = document.querySelector('#start');
            this.infinitifsForVerbs = Object.values(JSON.parse(divStart.dataset.infinitifs));
            this.infinitifsStartWithIds = JSON.parse(divStart.dataset.infinitifs)

            //traitement pour trier les verbes par ordre croissants
            this.infinitifsForVerbs.sort();
            this.infinitifsForVerbs = this.infinitifsForVerbs.filter(inf => inf != "écrire" && inf != "être");
            const indexOfEcrire = this.infinitifsForVerbs.indexOf("Décevoir") + 1;
            this.infinitifsForVerbs.splice(indexOfEcrire, 0, 'Écrire');
            const indexOfEtre = this.infinitifsForVerbs.indexOf("Envoyer") + 1;
            this.infinitifsForVerbs.splice(indexOfEtre, 0, 'Étre');
        }
    }
</script>

<style scoped>

</style>
