<template>
    <div>
        <h1>Bonne chance 99!</h1>
        <v-app>
            <v-stepper v-model="e1" v-if="!showScore">
                <v-stepper-header>
                    <template v-for="n in steps">
                        <v-stepper-step :key="`${n}-step`" :complete="e1 > n" :step="n" editable>
                            Step {{ n }}
                        </v-stepper-step>

                        <v-divider v-if="n !== steps" :key="n"></v-divider>
                    </template>
                </v-stepper-header>

                <v-stepper-items>
                    <v-stepper-content v-for="n in steps" :key="`${n}-content`" :step="n">
                        <v-card v-for="q in 5" class="mb-12" color="brown darken-4"  :key="`${n}-${q}-card`">
                            <v-col cols="12">

                                <header>Comment conjuguez-vous le verbe {{questions[n-1][q-1].label | buildLabelVerb | capitalize}}
                                    {{questions[n-1][q-1].label | buildTempsLabel}} pour le pronom "{{questions[n-1][q-1].label | buildPronomLabel | capitalize}}"</header>
                                <v-row>
                                    <v-col class="text-center" cols="12" sm="4">
                                        <v-text-field
                                            :label="label"
                                            v-model="questionsModel[n-1][q-1]"
                                            :prefix="questions[n-1][q-1].label | buildPrefix | capitalize"
                                            :append-outer-icon="icons[n-1][q-1].length > 0 ? icons[n-1][q-1] : 'mdi-send'"
                                            @click:append-outer="correction($event, questionsModel[n-1][q-1], questions[n-1][q-1], (n-1), (q-1))"
                                            :readonly="readonly[n-1][q-1]"
                                            :color="colors[n-1][q-1]"
                                            :background-color="colors[n-1][q-1] === 'primary' ? '' : colors[n-1][q-1]"
                                        ></v-text-field>
                                    </v-col>


                                </v-row>
                            </v-col>
                        </v-card>

                        <v-btn v-if="n != steps" color="primary" @click="nextStep(n)">Continue</v-btn>
                        <v-btn v-if="n === steps && nbAnswered === nbQuestions" color="primary" @click="showScoreAction()">Terminer</v-btn>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>

            <!--- Show Score --->
            <quiz-verb-score v-if="showScore" :quizFinished="quizFinished" :isAuth="true"
                             :steps="steps" :nbQuestions="nbQuestions">
            </quiz-verb-score>

        </v-app>
    </div>

</template>
# of steps
5

<script>
    import QuizVerbScore from "../quizzes/QuizVerbScore";


    export default {
        components: {
            QuizVerbScore,
        },
        name: "QuizVerbStepper",
        props: ['quiz', 'steps', 'nbQuestions', 'nbChoices'],
        data () {
            return {
                e1: 1,
                iter: 0,
                verbLabel: '',
                clickedChoice: null,
                colors: [],
                questionsModel: [],
                readonly: [],
                scoreFinal: 0,
                nbAnswered: 0,
                questions: [],
                showScore: false,
                isAuth : true,
                quizFinished: [],
                label: ''
            }
        },

        watch: {
            steps (val) {
                if (this.e1 > val) {
                    this.e1 = val
                }
            },
        },

        methods: {
            nextStep (n) {
                if (n === this.steps) {
                    this.e1 = 1
                } else {
                    this.e1 = n + 1
                }

                this.labels = ["ee", "rr", "tt", "yy"];
            },
            showScoreAction(){
                this.questions.scoreFinal = this.scoreFinal;
                this.quiz.questions = this.questions;
                this.quizFinished = this.questions;
                this.quizFinished.quizId = this.quiz.id;
                this.showScore = true;
            },

            correction(event, userAnswer, currentQuestion, i, j){
                if(this.readonly[i][j]){
                    return;
                }
                const temps = currentQuestion.label.split(',')[1]; //pattern: 'tu,ach:etes,present'
                const splitedInf = temps.split(':');
                let prefix = splitedInf[0] !== '' ? splitedInf[0] : '';
                let goodAnswer;
                if(currentQuestion.choices[0].label.indexOf("'") > -1){
                    goodAnswer = currentQuestion.choices[0].label.split("'");
                } else{
                    goodAnswer = currentQuestion.choices[0].label.split(' ');
                }

                console.log('prefix + userAnswer vs goodAnswer',  prefix + ' ' + userAnswer, goodAnswer[1]);


                const isCorrect = prefix + userAnswer === goodAnswer[1];

                this.colors[i][j] = isCorrect ? 'success' : 'error';
                this.icons[i][j] = isCorrect ? 'mdi-thumb-up' : 'mdi-thumb-down';

                this.readonly[i][j] = true;
                this.questionsModel[i][j] += ' '; //force le disabled pour le faire réagir
                this.label += ' '

                if(isCorrect) this.scoreFinal++;
                const questionPosition = currentQuestion.position;
                const goodAnswerLabel = currentQuestion.choices[0].label;
                const pronom = goodAnswerLabel.split(',')[0];

                userAnswer = userAnswer === '' ? ' ' : userAnswer; //faut assigner une valeur par defaut car y aune contrainte en bd not null
                const answer = this.buildAnswerObject(prefix + userAnswer, questionPosition, isCorrect, goodAnswer[1]);

                console.log('que vaut reponse');
                console.log(answer);

                this.questions[i][j].userAnswer = answer;
                this.nbAnswered++;
            },
            findDiviser(nbQuestions){
                switch(nbQuestions){
                    case 5: return 1;
                    case 10: return 2;
                    case 15: return 3;
                    case 20: return 4;
                    case 25: return 5;
                    case 30: return 6;
                    case 35: return 7;
                    case 40: return 8;
                    case 45: return 9;
                    case 50: return 10;
                }
            },
            buildAnswerObject(userAnswer, questionPosition, isCorrect, goodAnswerLabel){
                const answer =
                    {
                        'questionPosition': questionPosition,
                        'isGoodAnswer': isCorrect,
                        'label': userAnswer,
                        'goodAnswerLabel': goodAnswerLabel
                    }


                return answer;
            },
            getGoodAnswerLabel(question){
                for(let i=0; i < question.choices.length; ++i){
                    if(question.choices[i].isGoodAnswer){
                        return question.choices[i].label;
                    }
                }
            },


        },
        created() {
            this.questions = this.quiz.questions;
            console.log('dans created que vaut this.quiz', this.quiz);
            const diviser = this.findDiviser(this.nbQuestions);
            this.questionsModel = Array.from(Array(this.nbQuestions/5), () => Array(this.nbQuestions/diviser).fill(''))
            this.colors = Array.from(Array(this.nbQuestions/5), () => Array(this.nbQuestions/diviser).fill('primary'));
            this.icons = Array.from(Array(this.nbQuestions/5), () => Array(this.nbQuestions/diviser).fill(''));
            this.readonly = Array.from(Array(this.nbQuestions/5), () => Array(this.nbQuestions/diviser, ).fill(false) );
            this.questions = this.quiz.questions;

        },

        filters: {
            buildLabelVerb: function (currentLabel) {
                if (!currentLabel) return ''
                let verbTemp =  currentLabel.split(',')[1];
                const verbLabel = verbTemp.replace(':', '');
                return verbLabel
            },

            buildPrefix: function(currentLabel){
                if (!currentLabel) return ''
                let verbTemp =  currentLabel.split(',')[1];
                const verbLabel = verbTemp.split(':');
                let prefix, firstChar;
                if(verbLabel[0] === ''){
                    prefix = '';
                    firstChar = verbLabel[1][0];
                }
                else{
                    prefix = verbLabel[0];
                    firstChar = verbLabel[0][0];
                }

                //build pronoum to display in prefix
                const mask = ['a', 'e', 'i', 'o', 'u', 'y'];
                const pronoun = mask.indexOf(firstChar) > -1 ? "j'" : 'je';

                return pronoun + ' ' + prefix;
            },

            buildTempsLabel: function(currentLabel){
                if (!currentLabel) return ''
                const temp =  currentLabel.split(',')[2]
                let prefix = "";
                if(temp.indexOf('imparfait') === -1){
                    prefix = "au " + temp;
                } else{
                    prefix = "à l'imparfait";
                }
                return prefix;
            },
            buildPronomLabel: function(currentLabel){
                if (!currentLabel) return ''
                return currentLabel.split(',')[0];
            },
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
    }
</script>

