<template>
<div>
    <v-card flat>
        <v-row>
            <v-col md="12" v-if="statsWrongByTenses === false || statsWrongByVerb === false || statsWrongByPronoun === false">
                <v-card-title class="justify-center">
                    Vous n'avez pas d'historiques pour le moment
                </v-card-title>
            </v-col>
        <v-col md="12" v-else>
            <v-card-title class="justify-center">
                Historiques de vos Quiz libres
            </v-card-title>
            <v-data-table :headers="headers" :items="quizzes" class="elevation-1">
                <template v-slot:item.score="{ item }">
                    <v-chip :color="scoreColor(item.score, item.nb_questions)" dark>{{ item.score }} %</v-chip>
                </template>
            </v-data-table>
        </v-col>
        </v-row>
    </v-card>
</div>
</template>

<script>
    export default {
        props: ['statsWrongByTenses', 'statsWrongByVerb', 'statsWrongByPronoun'],
        data () {
            return {
                //datagrid
                headers: [
                    { text: 'Quiz ID', align: 'start', value: 'id'},
                    { text: 'Score', value: 'score' },
                    { text: 'NB Questions', value: 'nb_questions' },
                    { text: 'Type', value: 'type' },
                ],
                quizzes: this.userQuizzes,
                showHistory: true,
            }
        },
        methods: {
            scoreColor (score, nbQuestions) {
                if (score < 50) return 'red'
                else if (score == 50) return 'orange'
                else return 'green'
            },
            refreshDatas(){
                axios.get('/student-refresh-datas')
                    .then((response)=>{
                        if(response.data.ok)
                        {
                            this.quizzes = response.data.userQuizzes;
                            console.log('que vaut history', this.quizzes);

                            //s'il n'y a même pas le premier score on ne montre rien
                            if(this.quizzes[0] && !this.quizzes[0].hasOwnProperty('score')){
                                this.showHistory = false;
                            }
                        }
                    })
            },
        },
        mounted(){
            this.refreshDatas();
        }
    }
</script>

<style scoped>

</style>
