<template>
    <div>
            <v-row justify="space-around">
                <v-col md="12">
                    <v-card v-if="posts.length > 0">
                        <v-sheet class=" primary lighten-2">
                            <v-text-field
                                v-model="search"
                                label="Chercher"
                                dark
                                flat
                                solo-inverted
                                hide-details
                                clearable
                                clear-icon="mdi-close-circle-outline"
                            ></v-text-field>
                            <v-checkbox
                                v-model="caseSensitive"
                                dark
                                hide-details
                                label="Sensible à la casse"
                            ></v-checkbox>
                        </v-sheet>
                        <v-card-text>
                            <v-treeview
                                :items="items"
                                :search="search"
                                :filter="filter"
                                :open.sync="open"
                                color="warning"
                            >
                                <template v-slot:prepend="{ item }">
                                        <v-icon
                                            v-if="item.children || item.type === 'student'"
                                            v-text="`mdi-${item.type === 'post' ? 'pen' : 'account'}`"
                                            @click="displayStudentQuiz(item)"
                                        ></v-icon>
                                </template>
                            </v-treeview>
                        </v-card-text>
                    </v-card>
            </v-col>
                <v-col md="12">
                    <v-card flat v-if="posts.length > 0">
                        <v-card-title class="text-center justify-center py-6">
                            Données étudiant
                        </v-card-title>
                        <v-tabs v-model="tab" background-color="transparent" grow v-if="showStudentQuiz">
                            <v-tab>La leçon</v-tab>
                            <v-tab>Questions ouvertes</v-tab>
                            <v-tab>Choix multiples</v-tab>
                        </v-tabs>
                        <v-tabs-items v-model="tab" v-if="showStudentQuiz">
                            <v-tab-item>
                                <v-card color="basil" flat>
                                    <PostQuizLesson v-if="showStudentQuiz" :lesson="lesson"></PostQuizLesson>
                                </v-card>
                            </v-tab-item>
                            <v-tab-item>
                                <v-card color="basil" flat>
                                    <post-quiz-questions-open v-if="showStudentQuiz"
                                                              :questions-open="questionsOpen">
                                    </post-quiz-questions-open>
                                </v-card>
                            </v-tab-item>
                            <v-tab-item>
                                <v-card color="basil" flat>
                                    <post-quiz-questions-multiples v-if="showStudentQuiz"
                                                                   :questions-multiples="questionsMultiples">

                                    </post-quiz-questions-multiples>
                                </v-card>
                            </v-tab-item>
                        </v-tabs-items>
                    </v-card>

                    <v-card flat v-if="posts.length == 0 && !showTableConjugation">
                        <v-card-title class="text-center justify-center py-6">
                            Pas de données pour le moment
                        </v-card-title>
                    </v-card>

                </v-col>
            </v-row>

        <table-conjugation v-if="showTableConjugation" :tableConjugationDatas="tableConjugationDatas"></table-conjugation>
    </div>
</template>

<script>
    import PostQuizLesson from "../posts/PostQuizLesson";
    export default {
        components: {
            PostQuizLesson
        },
        props: ['posts', 'treeViewDatas', 'showTableConjugation', 'tableConjugationDatas'],
        data () {
            return {
                tab: null,
                showStudentQuiz: false,


                //treeview
                items: this.treeViewDatas,
                open: [1, 2],
                search: null,
                caseSensitive: false,

                //student lesson datas
                lesson: null,
                questionsOpen: null,
                questionsMultiples: null,
            }
        },
        computed: {
            filter () {
                return this.caseSensitive
                    ? (item, search, textKey) => item[textKey].indexOf(search) > -1
                    : undefined
            },
        },
        methods:{
            displayStudentQuiz(item)
            {
                console.log('que vaut item', item);
                this.showStudentQuiz = false;

                //datas for <post-quiz-questions-lesson>
                this.lesson = item.post;

                //datas for <post-quiz-questions-open> && <post-quiz-questions-multiples>
                const studentId = item.id;
                const users = Object.values(item.post.users);
                console.log('que vaut usersssss', users);
                const user = users.filter(u => u.id === studentId);
                const userName = user[0].name;

                const userId = user[0].id;
                const postId = item.post.id;

                //question ouvertes
                this.questionsOpen = user[0].questions.filter(q => q.answer.text && !q.answer.userAnswerLabel);
                console.log('ici que vauttttttttt question opeeeen', this.questionsOpen);
                this.questionsOpen.user_name = userName;
                this.questionsOpen.userId = userId;
                this.questionsOpen.postId = postId;


                //choix multiples
                this.questionsMultiples = user[0].questions.filter(q => !q.answer.text && q.answer.userAnswerLabel);
                this.questionsMultiples.user_name = userName;

                this.tab = null;
                this.showStudentQuiz = true;
            }
        },
        mounted() {
            console.log('mmmm' ,this.posts);
        }
    }
</script>
