<template>
<div>
    <v-row>
        <v-col md="12">
            <stats-wrong-by-infinitive v-if="showStatsInfinitifs && showStatistics" :stats="statsWrongPerVerb"></stats-wrong-by-infinitive>
        </v-col>
        <v-col md="12">
            <stats-wrong-by-tense v-if="showStatsTenses && showStatistics" :stats="statsWrongPerTense"></stats-wrong-by-tense>
        </v-col>
        <v-col md="12">
            <stats-wrong-by-pronoun v-if="showStatsPronoun && showStatistics" :stats="statsWrongPerPronoun"></stats-wrong-by-pronoun>
        </v-col>
        <v-col md="12" class="justify-center" v-if="!showStatsInfinitifs && !showStatsTenses &&
        !showStatsPronoun && !showHistory && !showQuizFree && !showLessons && !showTraining && !showTableConjugation">
            <v-card flat>
                <v-row justify="space-around">
                    <v-col md="12">
                        <v-card-title class="justify-center">
                                Vous n'avez pas encore de statistiques
                        </v-card-title>
                    </v-col>
                </v-row>
            </v-card>
        </v-col>
        <v-col md="12">
        <history-datagrid v-if="showHistory" ref="historyCompo"
                          :statsWrongByTenses="statsWrongPerTense"
                          :statsWrongByVerb="statsWrongPerVerb"
                          :statsWrongByPronoun="statsWrongPerPronoun"
        ></history-datagrid>
        </v-col>
        <v-col md="12">
            <student-lessons v-if="showLessons" :posts="posts"></student-lessons>
        </v-col>
        <v-col md="12">
            <quiz-verb-multiple-choices v-if="showQuizFree"></quiz-verb-multiple-choices>
        </v-col>
        <v-col md="12">
            <quiz-faiblesses v-if="showTraining"
                             :quizFaiblesses="quizFaiblesses"
                             :statsWrongByTenses="statsWrongPerTense" :statsWrongByVerb="statsWrongPerVerb"
                             :statsWrongByPronoun="statsWrongPerPronoun">
            </quiz-faiblesses>
        </v-col>
        <v-col md="12">
            <table-conjugation v-if="showTableConjugation" :tableConjugationDatas="tableConjugationDatas"></table-conjugation>
        </v-col>
    </v-row>
   </div>
</template>

<script>
    import HistoryDatagrid from "./HistoryDatagrid";
    import StatsWrongByInfinitive from "./StatsWrongByInfinitive";
    import StatsWrongByPronoun from "./StatsWrongByPronoun";
    import StatsWrongByTense from "./StatsWrongByTense";
    import QuizVerbMultipleChoices from "../quizzes/QuizVerbMultipleChoices";
    import TableConjugation from "./TableConjugation";

    export default {
        props: ['userQuizzes', 'posts', 'statsWrongPerVerb', 'statsWrongPerTense', 'statsWrongPerPronoun',
                'showHistory', 'showStatistics', 'showLessons', 'showTraining', 'showQuizFree', 'quizFaiblesses',
                'showTableConjugation', 'tableConjugationDatas'],
        components: {
            HistoryDatagrid,
            StatsWrongByInfinitive,
            StatsWrongByPronoun,
            StatsWrongByTense,
            QuizVerbMultipleChoices,
            TableConjugation
        },
        data () {
            return {
                tab: null,
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',

                ///drawer
                drawer: true,
                items: [
                    { title: 'Historique', icon: 'mdi-view-dashboard' },
                    { title: 'Statistiques', icon: 'mdi-counter' },
                    { title: 'Leçon', icon: 'mdi-teach' },
                    { title: 'Entraînements', icon: 'mdi-arm-flex-outline' },
                ],
                color: 'primary',
                right: false,
                permanent: true,
                miniVariant: false,
                expandOnHover: false,
                currentUserQuizzes: null,
                showStatsInfinitifs: false,
                showStatsTenses: false,
                showStatsPronoun: false,
            }
        },
        watch: {
        },
        methods: {

        },
        mounted(){
            this.showStatsInfinitifs = this.statsWrongPerVerb !== false;
            this.showStatsTenses = this.statsWrongPerTense !== false;
            this.showStatsPronoun = this.statsWrongPerPronoun !== false;
        }

    }
</script>

<style scoped>

</style>
