<template>
    <!--    pour chart.js-->
    <!--        <canvas ref="wrongByInfinitiveChart"></canvas>-->
    <v-card
        class="mx-auto text-center"
        color="green"
        max-width="600"
    >
        <v-card-text v-show="!showDetailsTable">
            <v-sheet color="rgba(0, 0, 0, .12)">
                <v-sparkline
                    :labels="labels"
                    :value="value"
                    color="rgba(255, 255, 255, .7)"
                    height="100"
                    padding="24"
                    stroke-linecap="round"
                    smooth
                >
                    <template v-slot:label="item">
                        {{ item.value }}
                    </template>
                </v-sparkline>
            </v-sheet>
        </v-card-text>

        <v-card-text v-show="!showDetailsTable">
            <div class="display-1 font-weight-thin" style="color: white">5 Pronoms produisant le plus de mauvaises réponses</div>
        </v-card-text>

        <v-simple-table v-show="showDetailsTable">
            <template v-slot:default>
                <thead>
                <tr>
                    <th class="text-center">Pronom</th>
                    <th class="text-center">Nombre de mauvaises réponses</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in stats" :key="index">
                    <td>{{ index | capitalize}}</td>
                    <td>{{ item }}</td>
                </tr>
                </tbody>
            </template>
        </v-simple-table>

        <v-divider></v-divider>

        <v-card-actions v-show="!showDetailsTable" @click="scoreDetails"class="justify-center">
            <v-btn block text style="color: white">Détails</v-btn>
        </v-card-actions>
        <v-card-actions v-show="showDetailsTable" @click="courbeDetails"class="justify-center">
            <v-btn block text style="color: white">Courbe</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import Chart from 'chart.js';

    export default {
        props: ['stats'],
        data () {
            return {
                showDetailsTable: false,
                statistiques: this.stats,
                labels: this.capitalizeLabels(),
                value: this.statistiques ? (Object.values(this.statistiques)).slice(0, 5) : [],

            }},
        methods: {
            capitalizeLabels(){
                if(!this.statistiques){
                    return [];
                }
                else{
                    const tempLabels = (Object.keys(this.statistiques)).slice(0, 5);
                    return tempLabels.map(l => l.charAt(0).toUpperCase() + l.slice(1));
                }
            },
            trainingBadVerbs () {
                const verbList = (Object.keys(this.stats)).slice(0, 5);
                console.log('que vaut verb list ? ');
                console.log(verbList);
            },
            scoreDetails () {
                this.showDetailsTable = true;
            },
            courbeDetails () {
                this.showDetailsTable = false;
            },
            refreshDatas(){
                axios.get('/student-refresh-datas')
                    .then((response)=>{
                        if(response.data.ok)
                        {
                            console.log('que vaut stats', response.data);
                            this.statistiques = response.data.statsWrongAnswerByPronoun;
                            this.labels = this.capitalizeLabels();
                            this.value = (Object.values(this.statistiques)).slice(0, 5);
                        }
                    })
            },
        },
        mounted() {

            this.refreshDatas();
        },
        filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        },
        created() {
            this.statistiques = this.stats;
        }
    }
</script>
<!--<script>-->
<!--    import Chart from 'chart.js';-->

<!--    export default {-->
<!--        props: ['stats'],-->
<!--        mounted() {-->
<!--            console.log(this.stats);-->

<!--            new Chart(this.$refs.wrongByPronounChart, {-->
<!--                type: 'bar',-->
<!--                data: {-->
<!--                    labels: Object.keys(this.stats),-->
<!--                    datasets: [-->
<!--                        {-->
<!--                            label: 'Les pronoms produisant le plus de mauvaises réponses',-->
<!--                            data: Object.values(this.stats)-->
<!--                        }-->
<!--                    ]-->
<!--                },-->
<!--                options: {-->
<!--                    responsive: false,-->
<!--                    maintainAspectRatio: true-->
<!--                },-->
<!--            });-->
<!--        }-->
<!--    }-->
<!--</script>-->

<style scoped>

</style>
