<template>
    <div>
        <v-card v-if="!showSingleLesson"  class="mx-auto">
            <v-toolbar color="pink" dark>
<!--                <v-app-bar-nav-icon></v-app-bar-nav-icon>-->
                <v-toolbar-title>Liste des leçons</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>

            <v-list two-line>
                <v-list-item-group v-if="posts.length > 0" v-model="selected" active-class="pink--text">
                    <template v-for="(post, index) in posts">
                        <v-list-item :key="post.id" @click="showLesson(post)">
<!--                            <template v-slot:default="{ active, toggle }">-->
                                <v-list-item-content>
                                    <v-list-item-title v-text="'Professeur : ' + post.authorName"></v-list-item-title>
                                    <v-list-item-subtitle class="text--primary" v-html="post.name"></v-list-item-subtitle>
                                    <v-list-item-subtitle v-html="post.excerpt"></v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-action>
                                    <v-list-item-action-text v-text="post.date"></v-list-item-action-text>
                                    <v-list-item-action-text v-if="post.isAnswered" v-text="'Déjà répondu'"></v-list-item-action-text>
                                    <v-list-item-action-text v-else class="blue lighten-4" v-text="'Á faire'"></v-list-item-action-text>
                                    <v-list-item-action-text v-if="post.isCorrected" color="teal lighten-4" v-text="'Corrigé'"></v-list-item-action-text>
                                    <v-list-item-action-text v-else v-text="'Non-corrigé'"></v-list-item-action-text>
                                </v-list-item-action>
<!--                            </template>-->
                        </v-list-item>
                        <v-divider v-if="index + 1 < posts.length" :key="index"></v-divider>
                    </template>
                </v-list-item-group>
                <v-list-item-group v-if="posts.length < 0" v-model="selected" active-class="pink--text">
                    <template>
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title v-text="'Vous n\'avez pas encore de leçons'"></v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>
                </v-list-item-group>
            </v-list>
        </v-card>

        <v-card v-if="showSingleLesson">
            <Post :post="singleLessonClicked" @back="hideSingleLesson()"></Post>
        </v-card>
    </div>
</template>

<script>
    import Post from "../posts/Post";

    export default {
        components: {
            Post,
        },
        props: ['posts'],

        data () {
            return {
                selected: [], //unused
                showSingleLesson: false,
                singleLessonClicked: null,
            }},
        methods: {
            showLesson (post) {
                this.singleLessonClicked = post;
                this.showSingleLesson = true;
            },
            hideSingleLesson(){
                this.showSingleLesson = false;
            }
        },
        mounted() {
            console.log('ddd', this.posts);
        }
    }
</script>

<style scoped>

</style>
