<template>
    <div>
        <v-data-table
            caption="Conjugaison du verbe Avoir"
            v-model="selected"
            :headers="headers"
            :items="conjugation"
            :single-select="false"
            item-key="id"
            show-select
            class="elevation-1"
            :hide-default-footer="true"
        >
        </v-data-table>
    </div>
</template>

<script>
    export default {
        props: ['tableConjugationDatas'],
        data: () => ({
            infinitif: null,
            selected: [],
            headers: [
                {
                    text: 'Temps',
                    align: 'start',
                    sortable: false,
                    value: 'temps',
                },
                { text: 'Je', value: 'je' },
                { text: 'Tu', value: 'tu' },
                { text: 'Il/elle', value: 'il' },
                { text: 'Nous', value: 'nous' },
                { text: 'Vous', value: 'vous' },
                { text: 'Ils/elles', value: 'ils' },
            ],
            conjugation: [],

        }),
        watch: {
          selected(val){
              console.log(val)
          }
        },
        methods: {
            aaa(){

            },

        },
        mounted() {
            console.log('dans table que vaut datas ?', this.tableConjugationDatas);
            this.infinitif = null;
            this.conjugation = null;
            this.infinitif = this.tableConjugationDatas[1];
            this.conjugation = this.tableConjugationDatas[0];
        }
    }
</script>

<style scoped>

</style>
